*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.weather-icon{
    width: 100px;
}
.weather-condition{
    font-weight: 500;
    font-size: 50px;
    color: black;
}
.location{
    font-size: 30px;
}
.time{
    font-size: 20px;
}
body{
    background-color: rgb(158, 206, 236) ;

}
.container{
    display: flex;
    flex-direction: column;
    
}
.main-info{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.temperature{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.toggle-unit{
    width: 50px;
    height: 50px;
    border: none;
    box-shadow: 0 0 3px white;
    cursor: pointer;
    background-color:rgba(171, 180, 189, 0.4) ;
    border-radius: 50%;
    margin-bottom: 10px;
}
.toggle-unit:hover{
    transform: scale(1.05);
}
.location-img{

}
.search-bar{
    margin-top: 10px;
    border: none;
    background: none;
    border-bottom: 2px solid black;
    height: 20px;
    font-size: 15px;
}
input[type=text]{
    outline: none;
}
hr{
    border: 1px solid rgba(84, 83, 83, 0.543);
    position: relative;
    margin: 0 40px;
}
::placeholder{
    color: black;
    font-size: 15px;
}
.search-icon{
    width:30px;
    height:30px;
    border: none;
    background: none;
}
.main-temp{
    font-size: 60px;
    font-weight: 800;
    
}
.container1{
    display: flex;
    justify-content: space-around;
    padding:  150px 80px;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: column;
}
.day-container1{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
}
.day-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feels-like{
    display: flex;
    gap:12px;
}
.humidity{
    display: flex;
    gap:15px;
}
.rain{
    display: flex;
    gap:12px;
}
.wind-speed{
    display: flex;
    gap:12px;
}
.extra-title{
    font-size: 18px;
}
.extra-info{
    font-size:25px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.extra-info-container{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.container-extra{
    display: flex;
    gap:12px;
}
.icon-containers{
    display: flex;
    flex-direction: column;
    gap:25px;
}
.container-extra img{
    width: 50px;
    height: 50px;
}

.daily{
    padding-left: 80px;
    /* padding-top: 50px; */
    font-size: 25px;
}
.day{
    font-size: 25px;
}
.day-temp{
    font-size: 30px;
    font-weight: 700;
}
.footer{
    text-align: center;
    background-color: rgba(0, 0, 0,0.4);
    padding: 15px 0;
}